@import "pages/index";
@import "pages/about";
@import "pages/music";

html {
  box-sizing: border-box;
  background-color: #060505;
}
body {
  margin: 0;
  overflow-x: hidden;
  color: ghostwhite;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* word-wrap: break-word; */
  /* font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt"; */
}
h1 {
  margin: 0;
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 6vw;
  @include media("<=tablet") {
    font-size: 10vw;
  }
}
h6 {
  margin: 0;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant: small-caps;
  font-size: calc(1.5rem + 1.25vw);
  @include media("<=tablet") {
    font-size: 6.75vw;
  }
  @include media("<=phone") {
    font-size: calc(4.5vw + 1.5vh);
  }
}
p {
  margin: 0;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.35vw;
  @include media("<=sm-laptop") {
    font-size: 3vw;
  }
  @include media("<=tablet") {
    font-size: 4vw;
  }
  @include media("<=sm-phone") {
    font-size: 5.25vw;
  }
}
a {
  color: ghostwhite;
  text-decoration: none;
}
